/* Directory List View */
#directory-container.list .member-card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

#directory-container.list .member-card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
